
html, body {margin: 0; padding: 0; background: #ffffff; font-family: 'PT Sans', sans-serif;}

html, body, .perspective {
	width: 100%;
	height: 100%;
	background: #4c5962;
}

.blog-index {
	padding: 20px 0px 0px 0px;
}
.blog-index .blog-index-title {
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 40px;
	font-weight: normal;
	color: #ffd054;
	margin: 0 10px 20px 40px;
	padding: 0;
	line-height: 29px;
}
.blog-index .blog-index-title b {
	display: inline-block;
	vertical-align: top;
	width: 210px;
	height: 29px;
	overflow: hidden;
	text-indent: -1000px;
	background: url("/img/logo.png") no-repeat left top;
}
.blog-index .blog-index-title a {
	display: inline-block;
	vertical-align: top;
	margin: -5px 0 0 0;
	height: 40px;
	font-family: 'PT Sans', sans-serif;
	line-height: 40px;
	font-size: 14px;
	padding: 0 15px;
	text-decoration: none;
	text-transform: uppercase;
	color: #ffd054;
	border: 1px solid #ffd054;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.blog-index .blog-index-title a:hover {
	color: #fff;
	border-color: #fff;
}
.blog-index .blog-index-title a.menu-item {
	border: none;
	padding: 0 5px;
}
.blog-index .item .img {
	display: block;
	height: 320px;
	overflow: hidden;
}
.blog-index .item .img .more-photo-cnt {
	position: absolute;
	display: block;
	top: 0px;
	left: 0px;
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	padding: 10px;
	background: rgba(0,0,0,0.3);
	-webkit-transition: background 0.3s;
	-moz-transition: background 0.3s;
	-o-transition: background 0.3s;
	transition: background 0.3s;
}
.blog-index .item:hover .img .more-photo-cnt {
	background: rgba(0,0,0,0.6);
}
.blog-index .item h3 {
	padding: 0 20px;
	margin: 20px 0 10px 0;
	line-height: 1;
	font-size: 18px;
}
.blog-index .item h3 a {
	color: #4c5962;
	text-decoration: underline;
}
.blog-index .item h3 a:hover {
	text-decoration: none;
}
.blog-index .item .preview-text {
	padding: 0 20px;
	font-size: 16px;
	overflow: hidden;
	max-height: 220px;
}
.blog-index .item .date {
	line-height: 30px;
	font-size: 13px;
	color: #aaa;
}
.blog-index .item .bottom {
	position: absolute;
	bottom: 20px;
	left: 20px;
	width: 280px;
}
.blog-index .item .vklike-20 {
	display: inline-block;
	height: 20px;
	padding-left: 30px;
	background: url("/img/vklike-20.png") no-repeat center left;
	color: #666;
	font-size: 16px;
	line-height: 20px;
}

.blog-index .item .inner {
	white-space: normal;
	position: absolute;
	width: 100%;
}






.stat-info {
	padding: 15px 15px 11px 15px;
	background: rgba(255,255,255,0.1);
	margin-top: 20px;
	color: #fff;
	-webkit-border-radius: 3px;
	border-radius: 3px;

}
.stat-info p {
	margin: 0 0 4px;
}

.viewport{
	min-height: 640px;
	position: relative;
	overflow: hidden;
}
.container {
	white-space:nowrap;
	width: auto;
	display: inline-block;
}

.blog-index .item {
	background: #fff;
	display:inline-block;
	width: 320px;
	height: 640px;
	margin: 0 20px;
	position: relative;
}

#indicator {
	position: absolute;
	width: 20px;
	height: 4px;
	background: #ddd;
	left: 0px;
	top: 0px;
}